.carrouselSection {
    position: relative;
    height: 40vw;
    max-width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    overflow: hidden;
}
.carrouselButton {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    height: 40vw;
    width: 6vw;
    background-color: transparent;
    opacity: .6;
    color: rgb(255,255,255);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    border: none;
    border-top: 20vw solid transparent;
    border-bottom: 20vw solid transparent;
    cursor: pointer;
    z-index: 400;
}
#prevButton {
    left: 0;
    border-right: 6vw solid black;
}
#nextButton {
    right: 0;
    border-left: 6vw solid black;
}
.carrouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 9px rgb(0,0,0);
    overflow: hidden;
    transform-style: preserve-3d;
}
.carrouselImg {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: auto;
}
.animNext {
    animation-name: next;
    animation-duration: .6s;
    animation-delay: .5s;
}
@keyframes next {
    from {transform: translate(0%);}
    to {transform: translate(100%);}
}
.animPrev {
    animation-name: prev;
    animation-duration: .6s;
    animation-delay: .5s;
}
@keyframes prev {
    from {transform: translate(0%);}
    to {transform: translate(-100%);}
}


