$buttonBackground: rgb(216, 137, 19);
$buttonBackgroundHover: rgb(73, 46, 5);
$textColor: rgb(54, 10, 83);
$textColorHover: rgb(178, 158, 190);

$startBackground: rgb(160, 10, 73);
$endBackground: rgb(216, 172, 25);
$time: 1.5s;