/* challenge met Janou */
.container {
    margin: 300px auto;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div {
    background-color: rgb(176, 45, 160);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    position: relative;
    animation-name: grow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#one {
    animation-delay: 0ms;
}
#two {
    animation-delay: 333ms;
}
#three {
    animation-delay: 666ms;
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}