* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gegevens form {
    display: flex;
    flex-direction: column;
    min-width: 20em;
    background-color: rgb(90,90,90);
    padding: 1em;
}
label {
    margin-top: 1em;
}
.emptyInput::-webkit-input-placeholder {
    color: red;
}
.visitekaartje {
    display: flex;
    flex-direction: column;
    background-color: rgb(90,90,90);
    padding: 1em;
}
.vCardField {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.cardLine {
    padding: .5em 0;
    border-bottom: 1px solid red;
}
.alert {
    color: red;
    opacity: 0;
}