/* opdracht 2 */
#fixedH1 {
    position: fixed;
    top: 50px;
    right: 50px;
    color: red;
}
/* opdracht 3 */
#fixedH1Move {
    position: fixed;
    top: 80px;
    right: 70px;
    color: darkred;
}
/* opdracht 4 */
#fixedH1Move2 {
    position: fixed;
    top: 100px;
    left: 50px;
    color: rgb(97, 47, 47);
}
/* opdracht 5 */