* {
    box-sizing: border-box;
}
/* opgave 2 */
.colorChange {
    color: blue;
    transition-duration: 3s;
    cursor: pointer;
}
.colorChange:hover {
    color: red;
}
/* opgave 3 */
.timingContainer {
    width: 50em;
    border: 1px solid black;
}
.timingContainer div {
    margin: .1em;
    padding: .5em .7em;
    width: fit-content;
    background-color: white;
    border: 1px solid black;
    transition-duration: 3s;
}
.timingContainer:hover div {
    background-color: red;
    margin-left: 47.6em;
    transition-duration: 3s;
}
.one {
    transition-timing-function: linear;
}
.two {
    transition-timing-function: ease-in;
}
.three {
    transition-timing-function: ease-out;
}
.four {
    transition-timing-function: ease-in-out;
}
.five {
    transition-timing-function: cubic-bezier(0.5, 1, 0.1, -0.68);
}
.timingContainer:hover .one {
    transition-timing-function: linear;
    border-radius: 50%;
}
.timingContainer:hover .two {
    transition-timing-function: ease-in;
    border-radius: 9%;
}
.timingContainer:hover .three {
    transition-timing-function: ease-out;
}
.timingContainer:hover .four {
    transition-timing-function: ease-in-out;
}
.timingContainer:hover .five {
    transition-timing-function: cubic-bezier(0.5, 1, 0.1, -0.68);
}
/* opgave 4 */
.centerContainer {
    display: block;
    height: 300px;
    width: 500px;
    border: 1px solid black;
}
.centerContainer div{
    height: 30px;
    width: 30px;
    margin-top: 120px;
    margin-left: 220px;
    padding-top: 5px;
    text-align: center;
    border: 1px solid black;
}
.oneMove {
    position: absolute;
    z-index: 1;
    transition: 2s;
    transition: margin-left 1s,margin-top 1s 1s;
    transition-timing-function: linear;
}
.twoMove {
    position: absolute;
    z-index: 2;
    transition: 2s;
    transition: margin-left 1s,margin-top 1s 1s;
    transition-timing-function: linear;
}
.threeMove {
    position: absolute;
    z-index: 3;
    transition: 3s;
    transition-delay: 1s;
    transition: margin-left 1.5s 1s,margin-top 1.5s 2s;
    transition-timing-function: ease-in-out;
}
.centerContainer:hover .oneMove {
    margin-left: 470px;
    margin-top: 0;
    transition: margin-left 1s,margin-top 1s 1s;
    transition-timing-function: linear;
}
.centerContainer:hover .twoMove {
    margin-left: 0px;
    margin-top: 0;
    transition: margin-left 1s,margin-top 1s 1s;
    transition-timing-function: linear;
}
.centerContainer:hover .threeMove {
    margin-left: 0px;
    margin-top: 270px;
    transition: 3s;
    transition-delay: 1s;
    transition: margin-left 1.5s 1s,margin-top 1.5s 2s;
    transition-timing-function: ease-in-out;
}
/* opdracht 5 */
.birdContainer {
    position: relative;
    height: 400px;
    width: 600px;
    border: 1px solid black;
    z-index: 1;
}
.topSquare {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 232px;
    width: 232px;
    background-color: tomato;
    border: 9px solid transparent;
    z-index: 4;
    transition: 1s;
    transition-delay: 1s;
}
.redSquare {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 232px;
    width: 232px;
    background-color: transparent;
    border: 9px solid transparent;
    z-index: 3;
    transition: 1s;
}
.birdSquare {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 250px;
    border: 9px solid black;
    z-index: 2;
    transition-delay: 1s;
}
.birdSquare img {
    height: auto;
    width: 100%;
}
.birdSquare h4 {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.birdContainer:hover .redSquare {
    background-color: rgb(190, 40, 13,0.6);
    transition: 1s;
    transition-delay: 1s;
}
.birdContainer:hover .topSquare {
    transform:rotate(45deg);
    margin-left: 200px;
    margin-top: 100px;
    transition: 1s;
}