* {
    box-sizing: border-box;
}
h4 {
    margin-top: 1em;
}
li {
    list-style-type: square;
}
/* opdracht 3 */
#antwoord3-1 p::before {
    content: "this is ::before";
    color: green;
    position: relative;
}
#antwoord3-1 p::after {
    content: "this is ::after";
    color: red;
    position: relative;
}
#antwoord3-2 p::first-letter {
    color: green;
    font-size: 2em;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#antwoord3-3 p::first-line {
    background-color: blueviolet;
    font-size: 2em;
}
#antwoord3-4 li::marker {
    color: crimson;
}
/* opdracht 4 */
#pseudoButton {
    height: 50px;
    width: 600px;
    /*background-color: rgb(58, 119, 211);*/
}
#pseudoButton button {
    height: 50px;
    width: 600px;
    background-color: rgb(58, 119, 211);
    color: white;
    border: none;
    cursor: pointer;
}
#pseudoButton::before {
    content: "";
    border-top: 4px solid red;
    border-left: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}
#pseudoButton::after {
    content: "";
    background-color: rgb(58, 119, 211);
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}