* {
    box-sizing: border-box;
}
h4 {
    margin-top: 1em;
}
/* opdracht 4 */
#pseudoButton {
    height: 50px;
    width: 600px;
    background-color: rgb(58, 119, 211);
}
#pseudoButton button {
    height: 50px;
    width: 600px;
    background-color: rgb(58, 119, 211);
    color: white;
    border: none;
    cursor: pointer;
}
#pseudoButton::before {
    content: "";
    border-top: 4px solid red;
    border-left: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}
#pseudoButton::after {
    content: "";
    background-color: rgb(58, 119, 211);
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}