* {
    box-sizing: border-box;
}
h4 {
    margin-top: 1em;
}
li {
    list-style-type: square;
}
/* opdracht 3 */
#antwoord3-1 p::before {
    content: "this is ::before";
    color: green;
    position: relative;
}
#antwoord3-1 p::after {
    content: "this is ::after";
    color: red;
    position: relative;
}
#antwoord3-2 p::first-letter {
    color: green;
    font-size: 2em;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#antwoord3-3 p::first-line {
    background-color: blueviolet;
    font-size: 2em;
}
#antwoord3-4 li::marker {
    color: crimson;
}
/* opdracht 4 */
#pseudoButton {
    height: 50px;
    width: 600px;
    /*background-color: rgb(58, 119, 211);*/
}
#pseudoButton button {
    height: 50px;
    width: 600px;
    background-color: rgb(58, 119, 211);
    color: white;
    border: none;
    cursor: pointer;
}
#pseudoButton::before {
    content: "";
    border-top: 4px solid red;
    border-left: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}
#pseudoButton::after {
    content: "";
    background-color: rgb(58, 119, 211);
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    height: 46px;
    width: 46px;
    position: absolute;
}
/* opdracht 5 */
#antwoord5 {
    position: relative;
    height: auto;
    height: 492px;
    width: 813px;
    border: 6px ridge grey;
    z-index: 1;
}
#antwoord5 p::before {
    position: absolute;
    top: 0;
    z-index: -1;
    content: url("https://res.cloudinary.com/natuurmonumenten/image/upload/ar_800:480,c_fill,dpr_1.0,f_auto,g_xy_center,q_auto,w_800,x_1500,y_1001/v1/2019-09/Wandelen-Leuvenumse-Bossen-NAMO78114");
}
/*opdracht 6 */
#antwoord6 {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    justify-content: center;
}
.circle6 {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    border-radius: 50%;
}
.circle6::before {
    position: absolute;
    left: -50px;
    content: ".";
    height: 50px;
    width: 50px;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
}
.circle6::after {
    position: absolute;
    top: 0;
    left: 40px;
    content: ".";
    height: 50px;
    width: 50px;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    transform: rotate(180deg);
}
/* opdracht 7 */
#antwoord7 {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: red;
}
#antwoord7::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: red;
    transform: rotate(30deg);
}
#antwoord7::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: red;
    transform: rotate(240deg);
}