* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.vultext {
    margin: 2em;
}
#mainButton {
    position: fixed;
    top: .5em;
    right: .5em;
    font-size: 1.2em;
    padding: .3em;
    border: 1px solid green;
    border-radius: 5%;
    z-index: 1000;
}
div {
    margin-top: 1em;
}
h1,
h2 {
    margin: 1em 0;
}
/* opdracht 3 */
h3 {
    margin: 1em 0;
    color:green;
    font-family: 'Times New Roman', Times, serif;
}
p {
    margin-top: 1em;
}
ul {
    margin: .7em;
}
li {
    list-style-type: none;
    margin-top: .3em;
}
#listing ul li {
    color: red;
}
.multiSelector {
    background-color: blue;
    color: white;
}
a {
    
    text-decoration: none;
    color: rgb(47, 45, 87);
}
code {
    margin: .5em;
    font-size: 1.2em;
}
/* opdracht 4 */
#antwoord4 {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    padding: 1em;
    width: 10em;
    color: green;
}
#antwoord4 h2 {
    margin: 0;
}
#antwoord4 p {
    margin: 1em 0;
    color: darkblue
}
/* opdracht 5 */
.black {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.green {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
}
/* opdracht 6 */
#antwoord6child p:nth-child(odd) {
    color: purple;
}
#antwoord6adjacent div + p {
    color: red;
    font-weight: bold;
}
#antwoord6general div ~ p {
    color: indigo;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* opdracht 7 */
#antwoord7 a {
    display: block;
}
h4 {
    font-style: italic;
}
#purpleText {
    color: purple;
}
.yellowBlue {
    color: yellow;
    background-color: blue;
}
p[title] {
    color:crimson;
}
h4, h5, h6 {
    color: red;
}
/* opdracht 8 */
.cascade {
    color: red;
}
.cascade {
    color: blue;
}
#inheritance {
    color: purple;
}
#noInheritance {
    color: darkred;
}