* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* opgave 1 */
#flexContainer1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    background-color: coral;
    padding: .5em;
}
#flexContainer1 > div {
    margin: 1em;
    padding: 2.5em;
    background-color: lightskyblue;
}
/* opgave 2 */
#flexContainer2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    background-color: coral;
    padding: .5em;
}
#flexContainer2 > div {
    margin: 1em;
    padding: 2.5em;
    background-color: lightskyblue;
}
/* opgave 3 */
#flexContainer3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    background-color: coral;
    padding: .5em;
}
#flexContainer3 > div {
    margin: 1em;
    padding: 2.5em;
    text-align: center;
    background-color: lightskyblue;
}
/* opgave 4 */
.flexContainer4 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: coral;
    padding: .5em;
}
.flexContainer4 > div {
    margin: 1em;
    padding: 2.5em;
    text-align: center;
    background-color: lightskyblue;
}
.justifyLeft {
    justify-content: flex-start;
}
.justifyCenter {
    justify-content: center;
}
.justifyRight {
    justify-content: flex-end;
}
.justifyAround {
    justify-content: space-around;
}
.justifyBetween {
    justify-content: space-between;
}
.justifyEven {
    justify-content: space-evenly;
}
/* opgave 5 */
.flexContainer5 {
    display: flex;
    height: 15em;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: coral;
    padding: .5em;
}
.flexContainer5 > div {
    margin: 1em;
    padding: 2.5em;
    text-align: center;
    background-color: lightskyblue;
}
.alignTop {
    align-items: flex-start;
}
.alignCenter {
    align-items: center;
}
.alignBottom {
    align-items: flex-end;
}
.alignStretch {
    align-items: stretch;
}
.alignBaseline {
    align-items: baseline;
}
/* opgave 6 */
#flexContainer6 {
    display: flex;
    height: 35em;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    background-color: coral;
    padding: .5em;
}
#flexContainer6 > div {
    margin: .3em;
    padding: 1.5em;
    align-self: stretch;
    background-color: lightskyblue;
}
/* opgave 7 */
#flexContainer7 {
    display: flex;
    height: 35em;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: coral;
    padding: .5em;
}
#flexContainer7 > div {
    margin: .3em;
    padding: 1.5em;
    background-color: lightskyblue;
}
/* opgave 8 */
#flexContainer8 {
    display: flex;
    height: 15em;
    width: 22.5em;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#flexContainer8 > div {
    margin: 0;
    height: 5em;
    width: 5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1.75em;
    border: 1px solid black;
    border-radius: 8%;
}
.wht {
    background-color: white;
}
.blue {
    background-color: rgb(35, 131, 226);
}
.lblue {
    background-color: rgb(121, 175, 230);
}
.blk {
    background-color: black;
    color: white;
}
.gra {
    background: linear-gradient(to right,rgb(10, 81, 151),rgb(159, 198, 236));
}