:root {
    --mainFontClr: rgb(0,0,0);
    --lightFontClr: rgb(255,200,200);
    --mainBack: rgb(65, 77, 117);
    --mainBackTrans: rgba(65,77,117,0.8);
    --greenBack: rgb(12,173,12);
    --redBack: rgb(223,9,9);
    --darkBox: 4px 4px 20px rgb(0,0,0);
    --glowBox: 6px 6px 20px var(--lightFontClr), -6px -6px 20px var(--lightFontClr), -6px 6px 20px var(--lightFontClr), 6px -6px 20px var(--lightFontClr);
}
@mixin initialSetting {
    background-color: var(--mainBack);
    color: var(--mainFontClr);
    border: 2px solid var(--mainFontClr);
    border-radius: 1.5em;
    box-shadow: var(--darkBox);
}
@mixin lightSetting {
    background-color: var(--lightFontClr);
    color: var(--mainFontClr);
    font-size: 1.5em;
    border: 1px solid var(--mainFontClr);
    box-shadow: var(--darkBox);
}