@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../image/scienceBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
  overflow: hidden;
}

:root {
  --mainFontClr: rgb(0,0,0);
  --lightFontClr: rgb(203, 221, 233);
  --mainBack: rgba(5, 4, 7,0.8);
  --mainBackTrans: rgba(5, 4, 7, 0.6);
  --greenBack: rgb(70, 219, 70);
  --redBack: rgb(230, 32, 32);
  --select: rgb(161, 199, 235);
  --lightBox: 0px 0px 10px var(--lightFontClr);
  --glowBox: 6px 6px 20px var(--lightFontClr), -6px -6px 20px var(--lightFontClr), -6px 6px 20px var(--lightFontClr), 6px -6px 20px var(--lightFontClr);
}

.quizBackground {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: url(../image/scienceBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1em;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
  -webkit-animation-name: showQuiz;
          animation-name: showQuiz;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes showQuiz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showQuiz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quizTitle {
  position: absolute;
  top: 0;
  margin: .5em auto;
  font-size: 2em;
  color: var(--lightFontClr);
  text-align: center;
}

.quizContainer {
  background-color: var(--mainBack);
  color: var(--lightFontClr);
  border: 1px ridge var(--lightFontClr);
  -webkit-box-shadow: var(--lightBox);
          box-shadow: var(--lightBox);
  position: relative;
  top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  width: 90%;
  overflow: hidden;
  background-color: var(--mainBackTrans);
}

.quizForm {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 95%;
  margin: 1em 0;
}

.formField {
  position: absolute;
  border: none;
  position: absolute;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  height: auto;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 3;
}

.formField.active {
  position: relative;
  display: block;
}

.formField.previous {
  display: block;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.formField.next {
  display: block;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.formField legend {
  width: 100%;
  text-align: center;
}

.formField .quizQuestionDisplay {
  background-color: var(--lightFontClr);
  color: var(--mainFontClr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: .5em auto;
  padding: .3em;
  background-color: var(--lightFontClr);
  border: 1px ridge var(--mainFontClr);
  color: var(--mainFontClr);
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  width: 100%;
  margin-top: .5em;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.label:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hideRadio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadio {
  background-color: var(--lightFontClr);
  color: var(--mainFontClr);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
  width: 1.8em;
  border-radius: 50%;
}

.awnserOption {
  background-color: var(--lightFontClr);
  color: var(--mainFontClr);
  position: relative;
  height: 2em;
  width: 100%;
  margin: 0 .5em;
  padding: .5em;
  text-align: center;
}

.label input:checked ~ .customRadio, .label input:checked ~ .awnserOption {
  background-color: var(--select);
}

.awnserRight input:checked ~ .customRadio {
  border: 2px ridge var(--greenBack);
}

.awnserRight input:checked ~ .awnserOption {
  background-color: var(--greenBack);
}

.awnserWrong input:checked ~ .customRadio {
  border: 2px ridge var(--redBack);
}

.awnserWrong input:checked ~ .awnserOption {
  background-color: var(--redBack);
}

.correctionAwnser input ~ .customRadio {
  background-color: var(--greenBack);
}

.correctionAwnser input ~ .awnserOption {
  border: 2px ridge var(--greenBack);
}

.quizWrapper {
  position: relative;
  background-color: var(--mainBack);
  color: var(--lightFontClr);
  border: 1px ridge var(--lightFontClr);
  -webkit-box-shadow: var(--lightBox);
          box-shadow: var(--lightBox);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.quizWrapper h1 {
  margin-bottom: 1.5em;
}

.quizWrapper h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
}

.quizStarter {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 .5em .2em .5em;
  padding: .3em;
  background-color: var(--lightFontClr);
  font-family: 'Josefin Slab', serif;
  font-size: 1.05em;
  font-weight: bold;
  -webkit-box-shadow: var(--lightBox);
          box-shadow: var(--lightBox);
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: var(--lightFontClr);
    border: 1px solid var(--lightFontClr);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: var(--greenBack);
    color: var(--lightFontClr);
    border: 1px solid var(--mainFontClr);
    -webkit-box-shadow: var(--glowBox);
            box-shadow: var(--glowBox);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: var(--lightFontClr);
    border: 1px solid var(--lightFontClr);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: var(--lightFontClr);
    border: 1px solid var(--lightFontClr);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: var(--greenBack);
    color: var(--lightFontClr);
    border: 1px solid var(--mainFontClr);
    -webkit-box-shadow: var(--glowBox);
            box-shadow: var(--glowBox);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: var(--lightFontClr);
    border: 1px solid var(--lightFontClr);
  }
}

.navButtonContainer {
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 95%;
  padding: 1.5em .5em 1em .5em;
}

.navButtonContainer .button {
  background-color: var(--lightFontClr);
  color: var(--mainFontClr);
  width: auto;
  padding: .4em;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.navButtonContainer .button:hover {
  background-color: var(--select);
}

.navButtonContainer .button:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/1/2;
}

.navButtonContainer .button:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: 1/6/1/6;
}

.navButtonContainer .button:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2/3/2/5;
}
/*# sourceMappingURL=math.css.map */