.navButton {
    height: 3em;
    width: 3em;
    margin: .5em auto;
    background-color: transparent;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    transition: .3s;
    &:hover {
        background-color: rgba(226, 17, 146, 0.7);
        transform: scale(1.4);
    }
}
#prevButton {
    border-left: none;
    border-right: 1.5em solid rgba(90,90,90,0.7);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#nextButton {
    border-right: none;
    border-left: 1.5em solid rgba(90,90,90,0.7);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}