* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(90,90,90);
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255,255,255);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.carrouselButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    height: 4em;
    width: 4em;
    background-color: rgb(44, 43, 43);
    color: rgb(255,255,255);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    border: 1px solid rgb(255,255,255);
    border-radius: 50%;
    box-shadow: 5px 5px 9px rgb(0,0,0);
    cursor: pointer;
}
#carrouselSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
    background-color: rgb(44, 43, 43);
    border: 3px solid rgb(255,255,255);
    border-radius: 3em;
    box-shadow: 5px 5px 9px rgb(0,0,0);
}
h1 {
    margin: 0 auto 1em auto;
    width: fit-content;
}
#carrouselContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 37.5em;
    width: 31.25em;
    background-color: transparent;
    border: 3px solid rgb(44, 4, 4);
    border-radius: 1em;
}
.imgTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 37.5em;
    width: 31.25em;
    border-radius: 1em;
    transition: .6s;
    z-index: 100;
}
.imgTemplate::before {
    content: attr(data-prev-img);
    transform: translate(0%,31.25em);
}
.imgTemplate::after {
    content: attr(data-next-img);
    transform: translate(0%, -31.25em);
}
.animNext {
    animation: next 0.65s 0.085s;
}
@keyframes next {
    from{transform: translate(0%, 0);}
    to{transform: translate(0%, 31.25);}
}
