* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: rgb(90,90,90);
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255,255,255);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    
}
.carrouselSection {
    position: relative;
    height: 60vw;
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    overflow: hidden;
}
.carrouselButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    height: 100%;
    width: 10%;
    background-color: rgb(44, 43, 43);
    color: rgb(255,255,255);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    box-shadow: 5px 5px 9px rgb(0,0,0);
    cursor: pointer;
    z-index: 1;
}
.carrouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    box-shadow: 5px 5px 9px rgb(0,0,0);
    overflow: hidden;
    transform-style: preserve-3d;
}
.carrouselImg {
    display: inline-block;
    position: absolute;
    opacity: 1;
    top: 0;
    height: 100%;
    width: auto;
    transition: .5s,;
}
.carrouselImg.prev {
    transform: translate(-100%);
}
.carrouselImg.next {
    transform: translate(100%);
}
.animNext {
    animation-name: next;
    animation-duration: .6s;
}
@keyframes next {
    from {transform: translate(0%);}
    to {transform: translate(100%);}
}
.animPrev {
    animation-name: prev;
    animation-duration: .6s;
}
@keyframes prev {
    from {transform: translate(0%);}
    to {transform: translate(-100%);}
}