.navButtons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 1.5em .5em 1em .5em;
}
.button {
    @include lightSetting;
    width: auto;
    padding: .4em;
    border: none;
    align-self: baseline;
    cursor: pointer;
    &:hover {
        background-color: var(--select);
    }
}
.checkButton {
    display: block;
    margin: 1.5em auto;
}