.quizQuestionDisplay {
    @include lightSetting;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: .5em 0;
    padding: .3em;
    background-color: var(--lightFontClr);
    border: 1px ridge var(--mainFontClr);
    color: var(--mainFontClr);
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}
.quizAwnserForm {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: .5em 0;
    fieldset {
        border: none;
    }
}
