.quizWrapper {
    position: relative;
    @include initialSetting;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    h1 {
        margin-bottom: 1.5em;
    }
    h2 {
        display: flex;
        height: 2.5em;
    }
}
.quizStarter {
    position: relative;
    align-self: flex-start;
    margin: 0 .5em .2em .5em;
    padding: .3em;
    background-color: var(--lightFontClr);
    font-family: 'Josefin Slab', serif;
    font-size: 1.05em;
    font-weight: bold;
    box-shadow: var(--lightBox);
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: var(--lightFontClr);
        border: 1px solid var(--lightFontClr);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--greenBack);
        color: var(--lightFontClr);
        border: 1px solid var(--mainFontClr);
        box-shadow: var(--glowBox);
    }
    100% {
        transform: scale(1);
        background-color: var(--lightFontClr);
        border: 1px solid var(--lightFontClr);
    }
}