.quizWrapper {
    @include initialSetting;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    h1 {
        margin-bottom: 1.5em;
    }
}
.quizStarter {
    font-family: 'Josefin Slab', serif;
    padding: .2em .4em;
    background-color: var(--lightFontClr);
    box-shadow: var(--lightBox);
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: var(--lightFontClr);
        border: 1px solid var(--lightFontClr);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--greenBack);
        color: var(--lightFontClr);
        border: 1px solid var(--mainFontClr);
        box-shadow: var(--glowBox);
    }
    100% {
        transform: scale(1);
        background-color: var(--lightFontClr);
        border: 1px solid var(--lightFontClr);
    }
}